<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Open Mic Source</title>
    <meta name="description" content="The open source way to open mic.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href ="/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href ="/css/font-awesome.min.css" type="text/css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALgMm4remRyhcw2S4N3vehmhk6MT3q7QM"></script>
<script src="/js/jquery-3.2.1.min.js"></script> 
<script src="/js/bootstrap.min.js"></script>
</head>
<body>