<% include partials/header %>
<% include partials/nav %>
<style>
    #map {
    height: 50vh;
    width: 100%;
    }
</style>
<div class="row">
    <div class="col-lg-4">
    
    </div>
    <div class="col-lg-4">
        <div class="panel">
            <div id="map"></div>
        </div>
    </div>
</div>



<% include partials/footer %>
<script>
var lat = 0;
var lng= 0;
$.getJSON("http://freegeoip.net/json/", function (data) {
    lng = data.longitude;
    lat = data.latitude;
    initMap();
});
var initMap= function() {
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: {lat: lat, lng: lng},
        disableDefaultUI: true,
        
    });
    /*a
    var marker = new google.maps.Marker({
        position: uluru,
        map: map
    });
    */
}  
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALgMm4remRyhcw2S4N3vehmhk6MT3q7QM&callback=initMap">
</script>