<!doctype html>
<html class="no-js" ng-app="micMap">
<head>
    <meta charset="utf-8">
    <title>Open Mic Source</title>
    <meta name="description" content="The open source way to open mic.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href ="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href ="/css/font-awesome.min.css" type="text/css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALgMm4remRyhcw2S4N3vehmhk6MT3q7QM"></script>
    <script src="/js/jquery-3.2.1.min.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/addCtrl.js"></script>
    <script src="js/gservice.js"></script>
    <script src="js/queryCtrl.js"></script>   
    <script src="js/venueAdd.js"></script> 
</head>
<% include partials/nav %> 
<body>
<div class="row">
    <div class="col-lg-6 col-lg-offset-1">
        <div class="panel panel-default">
            <div id="map" style="height:60vh;"></div>
        </div>
    </div>
    <div class="col-lg-3">
            <div ng-view></div> 
    </div>
</div>
</body>
</html>