<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="text-center">Find Venues</h1>
	</div>
	<div class="panel-body">
		<form id="queryForm" name="queryForm">
			<div class="hidden">
					<label for="latitude"></label> <input class="form-control" id="latitude" readonly type="text">
					<label for="longitude"></label> <input class="form-control" id="longitude" readonly type="text">
			</div>
			<div class="form-group">
				<div ng-show="value">
					<h4><b>Select Range: </b>{{value}} Miles</h4>
				</div>
				<br>		
				<input list="vals" id="distance" max="250" min="0" step="25" type="range" ng-model="value" value="75">
				<datalist id="vals">
					<option>0</option>
					<option>25</option>
					<option>50</option>
					<option>75</option>
					<option>100</option>
					<option>125</option>
					<option>150</option>
					<option>175</option>
					<option>200</option>
					<option>225</option>
					<option>250</option>
				</data-list>
			</div>
			<button class="btn btn-primary btn-block" ng-click="queryUsers()" type="submit">Search</button>
		</form>
	</div>
</div>
<div ng-show="queryCount>0" class="panel panel-default">
	<h3 class="text-center"> {{queryCount}} Venues found </h3>
	<div ng-repeat="result in queryResults">
		<button class="btn form-control" type="button" data-toggle="collapse" data-target="#{{result._id}}" aria-expanded="false">
			{{result.venuename}}
		</button>
		<div class="collapse" id="{{result._id}}">
			<div class="panel-body">
				<ul>
					<li>Address: <br> {{result.address[0].formattedAddress}}</li>
					<li>Profile: <a href="/venue/{{result._id}}">View Profile</a><br></li>
				</ul>
				
			</div>
		</div>
	</div>
</div>
